In [1]:
i=0
while i<50:
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")
    i=i+1

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even
41 odd
42 even
43 odd
44 even
45 odd
46 even
47 odd
48 even
49 odd

In [2]:
for i in range(100):
    if(i%2==0):
        print(i,"even")
    else:
        print(i,"odd")

0 even
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even
21 odd
22 even
23 odd
24 even
25 odd
26 even
27 odd
28 even
29 odd
30 even
31 odd
32 even
33 odd
34 even
35 odd
36 even
37 odd
38 even
39 odd
40 even
41 odd
42 even
43 odd
44 even
45 odd
46 even
47 odd
48 even
49 odd
50 even
51 odd
52 even
53 odd
54 even
55 odd
56 even
57 odd
58 even
59 odd
60 even
61 odd
62 even
63 odd
64 even
65 odd
66 even
67 odd
68 even
69 odd
70 even
71 odd
72 even
73 odd
74 even
75 odd
76 even
77 odd
78 even
79 odd
80 even
81 odd
82 even
83 odd
84 even
85 odd
86 even
87 odd
88 even
89 odd
90 even
91 odd
92 even
93 odd
94 even
95 odd
96 even
97 odd
98 even
99 odd

In [40]:
def recur_fact(n):
    if n<=1:
        return(n)
    else:
        return(n*recur_fact(n-1))
n=5
for i in range(n):
    print(recur_fact(i))

0
1
2
6
24

In [3]:
list=[10,"read",56,4.5,"IOT",45.6]
# SEPERATING THE ELEMENTS OF LIST ACCORDING TO DATA TYPE
intlist=[]
strlist=[]
floatlist=[]
for i in list:
    if type(i)==str:
        strlist.append(i)
    elif type(i)==int:
        intlist.append(i)
    else:
        floatlist.append(i)
print(intlist,floatlist,strlist)

[10, 56] [4.5, 45.6] ['read', 'IOT']

In [4]:
#create function that will seperate the elements of the list according to datatype
intlist=[i for i in list if type(i)==int]
strlist=[i for i in list if type(i)==str]
floatlist=[i for i in list if type(i)==float]
print(intlist,strlist,floatlist)

[10, 56] ['read', 'IOT'] [4.5, 45.6]

In [5]:
def seperate(x):
    intlist=[i for i in list if type(i)==int]
    strlist=[i for i in list if type(i)==str]
    floatlist=[i for i in list if type(i)==float]
    return intlist,floatlist,strlist
y=[12,'thr',9.56,56]
sep_list=seperate(y)
for i in sep_list:
    print(i)

[10, 56]
[4.5, 45.6]
['read', 'IOT']

In [6]:
#Recursive function
def recursum(n):
    if n<=1:
        return n
    return n + recursum(n-1)
n=10
print(recursum(n))

55

In [7]:
#recursive fibonacci
def recur_fib(n):
    if n <=1:
        return (n)
    else:
        return(recur_fib(n-1) + recur_fib(n-2))
n=5
for i in range(n):
    print(recur_fib(i))

0
1
1
2
3

In [8]:
def gen_num(n):
    v=0
    while v < n:
        yield v
        v+=1
for v in gen_num(100):
        print(v)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [9]:
# Write a function that will give sum of numbers of the list
def Sum_Of_List(x):
    tot=0
    for val in x:
        tot=tot+val
    return tot
my_List=[1,2,3,4,5]
print("The sum of my_list is:",Sum_Of_List(my_List))

The sum of my_list is: 15

In [10]:
# Write the function that will give count of vowels that is present in the given string/text
# Not using predefined python libraries
def vowelCount(string):
    vowels="aeiou"
    count=0
    for x in string:
        if x in vowels:
            count+=1
    return count
string="Hi How are you"
print("The number of vowels in the given string is:",vowelCount(string))

The number of vowels in the given string is: 6

In [11]:
dict1={"jay":[1998,"hyderabad"],"lalitha":[2003,"Hyderabad"],"valli":[2004,"Delhi"],"sri":[2005,"Mumbai"]}
type(dict1)

dict

In [12]:
count=0
for i in dict1.keys():
    if type(dict1[i])==list:
        count=count+1
count

0

In [13]:
#exception Handling
x=50
y=0
try:
    x/y
except:
    print("Your code has error")

Your code has error

In [14]:
x=int(input("Enter any number"))
y=int(input("Enter any number"))
try:
    x/y
except:
    print("Your code has error")
else:
    print(x/y)
finally:
    print("You code has run successfully")

Enter any number2
Enter any number3
0.6666666666666666
You code has run successfully

In [15]:
dict1={"jay":[1998,"hyderabad"],"lalitha":[2003,"Hyderabad"],"valli":[2004,"Delhi"],"sri":[2005,"Mumbai"]}
import pandas as pd
df=pd.DataFrame(dict1)
df

         jay    lalitha  valli     sri
0       1998       2003   2004    2005
1  hyderabad  Hyderabad  Delhi  Mumbai

In [16]:
df.to_csv("dictionary.csv")

In [17]:
df.to_excel("dictionary.xlsx")

In [18]:
file=open("text1.txt",'w')
file.write("This is the first line")
file.close()

In [19]:
file=open("text1.txt",'r')
file.read()

'This is the first line'

In [20]:
with open("text1.txt",'r') as file:
    print(file.read())

This is the first line

In [21]:
with open("text1.txt",'r') as file:
    word_list=file.read().split()
    print(word_list)

['This', 'is', 'the', 'first', 'line']

In [22]:
#Find the longest word in the file
with open("text1.txt",'r') as file:
    word_list=file.read().split()
    print(word_list)
    for i in word_list:
        print(i,len(i))

['This', 'is', 'the', 'first', 'line']
This 4
is 2
the 3
first 5
line 4

In [23]:
with open("text1.txt",'r') as file:
    word_list=file.read().split()
    print(word_list)
    len_word=[]
    for i in word_list:
        print(i,len(i))
    print("Longest word is:",max(word_list))

['This', 'is', 'the', 'first', 'line']
This 4
is 2
the 3
first 5
line 4
Longest word is: the

In [24]:
def longest_word(file):
    with open('file','r') as f:
        words=f.read().split()
        return(max(words,key=len))
print("The longest word is:",("text1.txt"))

The longest word is: text1.txt

In [25]:
df=pd.read_csv("dictionary.csv")
df

   Unnamed: 0        jay    lalitha  valli     sri
0           0       1998       2003   2004    2005
1           1  hyderabad  Hyderabad  Delhi  Mumbai

In [26]:
def longest_word(file):
    try:
        with open(file,'r') as f:
            words=f.read().split()
    except:
        return "check the file"
    else:
        return(max(words,key=len))
    print(longest_word("C:\\Users\\datta\\OneDrive\\Desktop\\Pavani\\New folder"))

In [27]:
#lambda functions
t = lambda r: r**2
t(10)

100

In [36]:
fruit_list=[["Mango",200],["Grapes",140],["Apples",98]]
#sort the list depending on the quantity
fruit_list.sort(key=lambda i:i[1])
print(fruit_list)

[['Apples', 98], ['Grapes', 140], ['Mango', 200]]

In [37]:
fruit_list=[["Mango",200],["Grapes",140],["Apples",98]]
#sort the list depending on the quantity
fruit_list.sort()
print(fruit_list)

[['Apples', 98], ['Grapes', 140], ['Mango', 200]]

In [38]:
#calculate the number of upper case letters and lower case alphabets of the given string
#String: she sells seashells on the seashore
n=input("Enter any string:")
lower=0
upper=0
for i in n:
    if(i.islower())==True:
        lower+=1
    else:
        upper+=1

Enter any string:she sea shells on the sea shore

In [39]:
str="she sells seashells on the seashore"
lower=0
upper=0
for i in str:
    if(i.islower()):
        lower+=1
    else:
        upper+=1
print("The number of lowercase charecters is:",lower)
print("The number of uppercase characters is:",upper)

The number of lowercase charecters is: 30
The number of uppercase characters is: 5